
.phoneComments {
    padding-top: $pd-8;
    @include respond(desktop) {
        padding-top: $pd-5;
    }
    @include respond(phone) {
        padding-top: 60px;
    }
    .comments_container {
        @include flexItem(flex, center, null);
    }
    .comments_left {
        padding-right: 60px;
    }
    .comments_item {
        background-image: url(../../../asset/img/white-concrete-wall.jpg);
        background-position: bottom center;
        background-size: 100%;
    }
    .comments_item {
        border-radius: $bd-3;
        padding: 40px 50px 50px 100px;
        position: relative;
        @include respond(tablet) {
            padding: 80px 20px 50px 40px;
        }
        @include respond(phone) {
            padding: 80px 30px 50px 20px;
        }
        i {
            position: absolute;
            top: 30px;
            left: 25px;
            font-size: $fs-11;
            color: $color-orange-1;
            box-shadow: 2px 2px 10px rgba($color: $color-orange-1, $alpha: 0.1);
            @include respond(tablet) {
                font-size: $fs-8;
            }
        }
        .comments_para {
            font-family: $font-1;
            line-height: 1.8;
            @include respond(tablet) {
                font-size: 14px;
            }
        }
        .comments_person {
            @include flexItem(flex, center, null);
            margin-top: 30px;
            img {
                width: 80px;
                border-radius: 50%;
            }
            .comments_info {
                margin-left: 15px;
                & h5 {
                    font-size: $fs-7;
                    font-weight: $fw-1;
                }
                & span {
                    font-size: $fs-1;
                    color: $color-gray-1;
                }
            }
        }
    }
}