
header {
    img {
        width: $fs-4;
    }
    .navbar {
        @include flexItem(flex, center, center);
        padding: 0;
    }
    .navbar-nav {
        margin-left: $fs-4;
    }
    .nav-item {
        margin: $mg-1;
    }
    .nav-link {
        transition: all 0.5s;
        color: $color-dark-1;
        &:hover {
            color: $color-orange-1;
        }
    }
    .header-icon {
        @include flexItem(flex, center, center);
        gap: 0 50px;
    }
    i, .header-cart, .header-admin {
        transition: all 0.3s;
        &:hover {
            color: $color-orange-1;
            cursor: pointer;
        }
    }
}