
header {
    .header-inner {
        background-color: transparent;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 90px;
        z-index: 9999;
    }
    .navbar-scroll {
        background-color: #ffffff;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.04);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100px;
        z-index: 9999;
        transition: all 0.5s;
    }
    .navbar-scroll .navbar {
        // padding: 8px 0;
    }
    
    .navbar-scroll .navbar-brand {
        color: #000;
    }
    
    .navbar-scroll .nav-item i {
        color: #000;
    }
    img {
        width: $fs-4;
    }
    .navbar {
        @include flexItem(flex, center, center);
        padding: 0;
        @include respond(tablet) {
            justify-content: space-between;
        }
        .navbar-nav {
            margin-left: $fs-4;
            @include respond(desktop) {
                margin-left: $fs-14;
            }
            .nav-item {
                margin: 0 15px;
                @include respond(desktop) {
                    margin: 0 10px;
                }
                .nav-link {
                    transition: all 0.5s;
                    color: $color-dark-1;
                    &:hover {
                        color: $color-orange-1;
                    }
                }
            }
        }
    }
    .navbar-collapse {
        @include respond(tablet) {
            order: 4;
            background-color: white;
            margin-top: 10px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba($color: #000000, $alpha: 0.2);
        }
    }
    .navbar-toggler {
        order: 3;
        background-color: $color-orange-1;
        line-height: 1.5;
        padding: 4px;
    }
    .header-icon {
        @include flexItem(flex, center, center);
        gap: 0 40px;
        i, .header-cart, .header-admin {
            transition: all 0.3s;
            &:hover {
                color: $color-orange-1;
                cursor: pointer;
            }
        }
        .header-cart {
            position: relative;
            #cart_quantity {
                position: absolute;
                width: 22px;
                top: -16px;
                right: -16px;
                background-color: white;
                border-radius: 50%;
                padding: 0px 6px;
                @include flexItem(flex,center,center);
                border: 1px solid $color-dark-1;
                font-size: 14px;
            }
        }
        .header-admin {
            .admin-link {
                text-decoration: none;
                color: $color-dark-1;
                transition: all 0.2s;
                &:hover {
                    text-decoration: none;
                    color: $color-orange-1;
                }
            }
        }
        @include respond(desktop) {
            gap: 0 25px;
        }
        @include respond(tablet) {
            padding-left: 50px;
        }
        @include respond(phone) {
            gap: 0 15px;
        }
        .header-search {
            @include respond(phone) {
                display: none;
            }
        }
    }
    .icon-search {
        background-color: #fff;
        border-radius: 25px;
        width: 36px;
        height: 36px;
        display: flex;
        align-items: center;
        border: 1px solid $color-dark-2;
        transition: all 0.4s;
        overflow: hidden;
        position: relative;
        i:first-child {
            color: #000;
            font-size: 15px;
            margin-right: 10px;
            position: absolute;
            left: 10px;
        }
        #input-search {
            border: none;
            outline: none;
            font-family: var(--secondary-font);
            width: 100px;
            transform: translateX(-50px);
            background-color: transparent;
            margin-left: 20px;
        }
    }
    .icon-search:focus-within {
        width: 200px;
        @include respond(desktop) {
            width: 150px;
        }
    }
    .icon-search:focus-within #input-search {
        transform: translateX(0px);
    }
    #input-search ~ i {
        margin-left: auto;
        opacity: 0;
    }
    #input-search:valid ~ i {
        opacity: 1;
    }

    .table-image {
  
        thead {
          td, th {
            border: 0;
            color: #666;
            font-size: 0.8rem;
          }
        }
        
        td, th {
          vertical-align: middle;
          text-align: center;
          
          &.qty {
            max-width: 2rem;
          }
        }
      }
      
      .price {
        margin-left: 1rem;
      }
      
      .modal-footer {
        padding-top: 0rem;
      }
}

