@mixin styleText($color,$fs,$fw){
    color: $color;
    font-size: $fs;
    font-weight: $fw;
}

@mixin flexItem($display, $align, $justify) {
    display: $display;
    align-items: $align;
    justify-content: $justify;
}

@mixin backgroundImage($image-url) {
    background-image: $image-url;
}