
// Font Poppins
$font-1: 'Poppins', sans-serif;

// colors
$color-dark-1: #08090d;
$color-dark-2: #393a3c;
$color-gray-1: #616065;
$color-gray-2: #616163;
$color-light-1: #fdf0dd;
$color-light-2: #fffcf7;
$color-orange-1: #f2bd57;
$color-orange-2: #fdf2de;
$color-white-1: #ffffff;


// font-size
$fs-1: 14px;
$fs-2: 1.1rem;
$fs-3: 1.8rem;
$fs-4: 70px;
$fs-5: 1.6rem;
$fs-6: 2.25rem;
$fs-7: 20px;
$fs-8: 44px;
$fs-9: 120px;
$fs-10: 50px;
$fs-11: 60px;
$fs-12: 55px;
$fs-13: 16px;
$fs-14: 25px;

//font weight
$fw-1: 400;
$fw-2: 500;
$fw-3: 600;
$fw-4: 700;

//letter spacing
$ls-1: 0.015rem;
$ls-2: 0.03rem;

//Padding
$pd-1: 5px;
$pd-6: 8px;
$pd-2: 10px;
$pd-3: 15px;
$pd-4: 20px;
$pd-7: 60px;
$pd-5: 100px;
$pd-9: 80px;
$pd-8: 150px;

//Margin
$mg-1: 5px;
$mg-6: 8px;
$mg-2: 10px;
$mg-3: 15px;
$mg-4: 20px;
$mg-1: 25px;
$mg-2: 30px;
$mg-3: 70px;
$mg-4: 60px;
$mg-10: 100px;

//border
$bd-1: 2px;
$bd-2: 8px;
$bd-3: 20px;
$bd-4: 30px;